.buttonsContainer,
.footer {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

// Modal 

.modalWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal {
    min-width: 400px;
    // border: 1px solid #3C4242;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #191919;
    display: flex;
    flex-direction: column;  
    padding: 56px;
    position: relative;
}

.modalImage {
    width: 276px;
    height: 140px;
    background-color: grey;
    margin: 0 auto;
    margin-bottom: 85px;
}


.closeModalBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    right: 0;
}

.closeModalSvg {
    width: 22px;
    height: 22px;
    fill: #3C4242;
}

.modalHeader {
    text-align: center;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 3.9;
    
}

.modalBody {
    display: flex;
    
    margin-bottom: 64px;
    justify-content: center;
    align-items: center;
}

.bodyText {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    color: #7F7F7F;
}

.modalBackground {
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: fit-content;
}

// Buttons

.buttonPurple {
    background-color: #8A33FD;
    color: white;
}

.transparentBtn {
    border-color: #8A33FD;
    color: #8A33FD;
    background-color: transparent;

}
